/vendor
/node_modules
/public/hot
/public/storage


storage/app/public/backend/images/canvas/Background/*
!storage/app/public/backend/images/canvas/Background/canvas_bg_image_seeder.png
!storage/app/public/backend/images/canvas/Background/bg_image.jpg
storage/app/public/backend/images/canvas/Canvas_screenshoot/*
!storage/app/public/backend/images/canvas/Canvas_screenshoot/canvas_image_screenshoot_seeder.png


storage/app/public/backend/images/blog_images/*

storage/app/public/backend/images/canvas/pdf_platform/*
storage/app/public/backend/images/users/*
storage/app/public/backend/images/default/*

# DATA files
storage/app/DATA/*
# Byr File paths
storage/app/BYR/*

public/backend/images/users/*
public/dashboard/images/*
public/bms_order_files/*

/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# tools
tools/taskctrl/taskCtrlTrace/*

.env

!.gitkeep

composer.lock
